<h1>Claim  <small>Retrieve individual object/acknowledgment</small> </h1>


<%= simple_form_for @claim, url: claim_retrieve_get_url do |f| %>
    <%= f.input :reference_id %>
    <%= f.button :submit , 'Get' ,class: 'btn large bolder'%>

<% end %>
